@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
	--breakpoint-xs: 320px;
	--breakpoint-md: 768px;
  --breakpoint-lg: 1152px;
  --breakpoint-xl: 1440px; /* <-- You would add/change it here */
  --breakpoint-2xl: 1920px;
}

@theme inline {
	--color-background: var(--background);
	--font-family: var(--font-inter), var(--font-sans);
	--color-secondary: var(--secondary);
	--color-primary: var(--primary);
	--color-card: var(--card);
	--color-dark-text: var(--secondary-dark);
	--color-light-text: var(--secondary-light);
	--color-sub-text: var(--secondary-sub);
	--color-divider: var(--secondary-light-grey);
	--color-hover: var(--secondary-light-grey);
	--color-border: var(--secondary-light-grey);
	--color-hover-white-button: var(--secondary-light-grey);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

html {
  scroll-behavior: smooth;
}

:root {
	--radius: 0.625rem;
	--background: rgb(249,250,255);
	--card: rgb(255,255,255);
	--primary: rgb(45,111,247);
	--secondary: rgb(0,196,154);
	--secondary-dark: rgb(18,26,38);
	--secondary-light: rgb(249,250,255);
	--secondary-sub: rgb(90,106,128);
	--secondary-light-grey: rgb(228,231,235);
}

.dark {
	--background: oklch(0.145 0 0);
	--card: oklch(0.205 0 0);
	--primary: rgb(95, 148, 255);
	--secondary: rgb(15, 223, 178);
	--secondary-dark: rgb(18,26,38);
	--secondary-light: rgb(249,250,255);
	--secondary-sub: rgb(90,106,128);
	--secondary-light-grey: rgb(228,231,235);
}

@layer base {
	body {
		@apply bg-background font-family;
	}
}

@layer components {
	.header-h1 {
		@apply font-bold text-7xl leading-24 tracking-[-0.02em];
	}

	.header-h2 {
		@apply font-bold text-[64px] tracking-[-0.02em];
	}

	.header-h3 {
		@apply font-bold text-[54px] tracking-[-0.02em];
	}

	.header-h4 {
		@apply font-bold text-4xl tracking-[-0.02em];
	}

	.header-h5 {
		@apply font-bold text-[28px] leading-9 tracking-[-0.02em];
	}

  .paragraph-p1-semibold {
    @apply font-semibold text-2xl leading-9;
  }

  .paragraph-p1-regular {
    @apply font-normal text-2xl leading-8;
  }

  .paragraph-p2-bold {
    @apply font-bold text-lg;
  }

  .paragraph-p2-medium {
    @apply font-medium text-lg leading-[23px];
  }

  .paragraph-p2-regular {
    @apply font-normal text-lg leading-[30px];
  }

	.paragraph-p3-medium {
    @apply font-medium text-base;
  }

  .paragraph-p3-regular {
    @apply font-normal text-base leading-5;
  }

  .paragraph-p4-medium {
    @apply font-medium text-sm;
  }

  .paragraph-p4-regular {
    @apply font-normal text-sm leading-5;
  }

  .paragraph-p5-medium {
    @apply font-medium text-xs;
  }

}